body {
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0px;
}

h1 {
  margin-top: 0px;
  font-size: 2.5rem;
}

h2 {
  margin-top: 0px;
  font-size: 1.8rem;
}

h3 {
  margin-top: 0px;
  font-size: 1.2rem;
}

header {
  grid-area: cabecalho;
  display: flex;
  align-items: center;
}

nav {
  flex-grow: 1;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul a {
  padding: 10px;
  text-decoration: none;
  color: #484848;
  font-size: 1.2rem;
}

nav ul a:hover {
  color: #0b5cff;
}

section#capa-conteudo {
  grid-area: capa-conteudo;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#capa-imagem {
  grid-area: capa-imagem;
}

section#organizacao-imagem {
  grid-area: organizacao-imagem;
}

section#organizacao-conteudo {
  grid-area: organizacao-conteudo;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#capa-imagem img,
section#organizacao-imagem img {
  max-width: 100%;
}

footer {
  background: #f2f2f2;
  padding: 20px 0px 40px 0px;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.botao {
  text-decoration: none;
  color: #0b5cff;
  border: 2px solid #0b5cff;
  border-radius: 25px;
  padding: 5px 30px;
  align-self: flex-start;
}

.botao.destaque {
  background: #0b5cff;
  color: white;
}

.botao:hover {
  background: #d2e1ff;
}

.botao.destaque:hover {
  background: #2d73ff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "cabecalho cabecalho"
    "capa-conteudo capa-imagem"
    "organizacao-imagem organizacao-conteudo";
  row-gap: 40px;
  column-gap: 40px;
  padding: 10px;
}

.texto-destaque {
  color: #2d73ff;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "cabecalho"
      "capa-conteudo"
      "capa-imagem"
      "organizacao-conteudo"
      "organizacao-imagem";
  }

  header {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
}
